.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  width: 20%;
  margin: 16px;
  padding: 10px;
}

.note h5 {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 6px;
}

.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  /* white-space: pre-wrap;
  word-wrap: break-word; */
}
